{% extends 'base.html' %}
{% block title %}Create Task{% endblock title %}
{% block body %}
    <h1 style="width: 53%; margin: auto;text-align: left; padding: 15px; font-size: 40px">
        Create Task
    </h1>
    <br>
    {% load crispy_forms_tags %}
    <div style="width: 50%; margin: auto; margin-bottom: 100px;">
     
        <form method= 'POST' enctype="multipart/form-data">
            {% csrf_token %}

            {{form|crispy}}
            <input type="file" name="images" multiple id=""> <br><br>
            <input class="btn btn-primary" type="submit" value="Submit">

        </form>

    </div>
{% endblock body %}

