{% extends 'base.html' %}
{% block title %}Create Task{% endblock title %}
{% block body %}
    <h1 style="width: 53%; margin: auto;text-align: left; padding: 15px; font-size: 40px">
        Create Task
    </h1>
    <br>
    {% load crispy_forms_tags %}
    <div style="width: 50%; margin: auto; margin-bottom: 100px;">
     
        <form method= 'POST'>
            {% csrf_token %}

            {{form|crispy}}
            <input class="btn btn-primary" type="submit" value="Submit">

        </form>
  
        {% comment %}
         <h3>ID: {{id}}</h3>
        <h3>Book Name: {{book_name}}</h3>
        <h3>Author: {{author}}</h3>
        <h3>Category: {{category}}</h3>
         {% endcomment %}

    </div>
{% endblock body %}

